* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 56px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 .5rem;
}

.side-menu, .main-content {
    overflow-y: scroll;
}

main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.side-menu {
    background-color: blueviolet;
    width: 240px;
    flex-shrink: 0;
}

.main-content {
    background-color: blue;
    flex-grow: 1;
}

.menu-btn-and-logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.menu-btn-and-logo div {
    height: 20px;
}
