* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}


aside {
    background-color: yellow;
    flex-basis: 240px;
    max-width: 240px;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: blueviolet;
    height: 56px;
    display: flex;
    flex-shrink: 0;
}

main {
    background-color: brown;
    flex-grow: 1;
    overflow: auto;
}